
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../css/chatbot.css">
</head>
<body>
  <div class="chatwindow">
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Type your message here..." />
		  </div>
		  <div class="send_message">
			   <div class="text">Send</div>
		  </div>
	 </div> 
   <div class="message_template">
      <li class="message">
        <div class="text_wrapper">
          <div class="text">
          </div>
        </div>
      </li>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/chatbot.js"></script>
</body>
